@page "/{SourceId}/{MangaId}/{Chap:int}"
@page "/{SourceId}/{MangaId}/{Chapter}"

@using Grimoire.Models
@using Grimoire.Handlers
@using Grimoire.Helpers

@inject CacheHandler CacheHandler

<div class="container-lg py-4">
    <picture class="p-4">
        @if (_chapter == default || _chapter?.Pages?.Count == 0) {
            <Waiting Message=@LoadingMessage/>
        }
        else {
            @foreach (var chapterPage in _chapter.Pages) {
                <div class="text-center">
                    <img src="@chapterPage" alt="" class="img-fluid rounded shadow-lg">
                </div>
            }
        }

    </picture>
</div>

@code {

    [Parameter]
    public string SourceId { get; set; }

    [Parameter]
    public string MangaId { get; set; }

    [Parameter]
    public int Chap { get; set; }

    [Parameter]
    public string Chapter { get; set; }

    private Chapter _chapter;

    private string LoadingMessage
        => $"Loading {MangaId.GetNameFromId()} {Chap}";

    protected override async Task OnInitializedAsync() {
        _chapter = await CacheHandler.GetChapterAsync(SourceId, MangaId, Chap);
        _chapter = !string.IsNullOrWhiteSpace(Chapter) ?
            await CacheHandler.GetChapterAsync(SourceId, MangaId, Chapter) :
            await CacheHandler.GetChapterAsync(SourceId, MangaId, Chap);
    }

}