@page "/{SourceId}/{MangaId}/{Chap:int}"

@using Grimoire.Sources.Models
@using Grimoire.Web.Handlers

@inject CacheHandler CacheHandler

<div class="container-lg py-4">
    <picture class="p-4">
        @if (_chapter == default || _chapter?.Pages?.Count == 0) {
            <Waiting/>
        }
        else {
            @foreach (var chapterPage in _chapter.Pages) {
                <div class="text-center">
                    <img src="@chapterPage.Value" alt="@chapterPage.Key" class="img-fluid rounded shadow-lg">
                </div>
            }
        }

    </picture>
</div>

@code {

    [Parameter]
    public string SourceId { get; set; }

    [Parameter]
    public string MangaId { get; set; }

    [Parameter]
    public int Chap { get; set; }

    private Chapter _chapter;

    protected override async Task OnInitializedAsync() {
        _chapter = await CacheHandler.GetChapterAsync(SourceId, MangaId, Chap);
    }

}