@page "/"
@using Grimoire.Web.Handlers
@using Grimoire.Sources.Models
@using Grimoire.Sources.Miscellaneous

@inject LibraryHandler Handler

<div class="container-lg py-4">

    <div class="row row-cols-1 g-5">
        <div class="col">
            <div class="card">
                <h4 class="card-header py-3">🥳 Recent Updates</h4>
                <div class="card-body">

                    <div class="row g-3 flex-nowrap">
                        <ul class="list-group overflow-auto shadow">
                            @for (var i = 0; i < 10; i++) {
                                <NavLink href="#" class="list-group-item list-group-item-action placeholder">
                                    P L A C E H O L D E R
                                </NavLink>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4 class="card-header py-3">📑 Favorites</h4>
                <div class="card-body">
                    @if (_mangas == null || _mangas.Count == 0) {
                        <Waiting Message="Loading user library"/>
                    }
                    else {
                        <div class="row row-cols-2 row-cols-md-4 g-4">
                            @foreach (var manga in _mangas) {
                                <div class="col">
                                    <MangaCard SourceId="@manga.SourceName.GetIdFromName()" Manga="@manga"></MangaCard>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    private IReadOnlyCollection<Manga> _mangas;

    protected override async Task OnInitializedAsync() {
        _mangas = await Handler.GetLibraryAsync();
    }

}