<div class="d-flex align-items-center">
    <strong>
        <i>@Message...</i>
    </strong>
    <div class="spinner-grow ms-auto" role="status" aria-hidden="true"></div>
</div>

@code {

    [Parameter]
    public string Message { get; set; }

}