@inherits LayoutComponentBase

<nav class="navbar border-bottom navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="favicon.png" alt="Bootstrap" width="35">
            <span>Grimoire</span>
        </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>

<main class="p-2">
    @Body
</main>