@inherits LayoutComponentBase

<nav class="navbar border-bottom rounded-bottom p-3 navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="favicon.png" alt="Bootstrap" width="35">
            Grimoire
        </a>
    </div>
</nav>

<main class="p-2">
    @Body
</main>