@page "/providers"
@using Grimoire.Providers.Interfaces
@using Grimoire.Providers

@inject IServiceProvider Provider
@inject NavigationManager NavigationManager

<div class="container p-4">
    <div class="container">
        <ul class="list-group list-group-flush">
            @foreach (var provider in _providers) {
                <a class="list-group-item list-group-item-action" @onclick="() => NavTo(provider.Name)">
                    <img src="@provider.Icon" class="img-thumbnail" alt="@provider.Name" width="70">
                    <span>@provider.Name</span>
                </a>
            }
        </ul>
    </div>
</div>

@code {
    private IEnumerable<IGrimoireProvider> _providers;

    protected override void OnInitialized() {
        _providers = Provider.GetProviders();
        base.OnInitialized();
    }

    private void NavTo(string provider) {
        NavigationManager.NavigateTo($"/provider/{provider}");
    }

}