@inherits LayoutComponentBase

<nav class="navbar border-bottom navbar-expand-lg p-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="favicon.png" alt="Grimoire" width="50">
            <span>Grimoire</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#support" aria-controls="support"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="support">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">
                        <span>🌍 Home</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="sources">
                        <span>🔮 Sources</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="settings">
                        <span>🛠️ Settings</span>
                    </NavLink>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>

    </div>
</nav>

<main class="p-2">
    @Body
</main>